APP_NAME=FinSight
APP_ENV=development

API_HOST=0.0.0.0
API_PORT=8000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=finsight
POSTGRES_USER=finsight
POSTGRES_PASSWORD=change_me

QDRANT_URL=http://qdrant:6333

FINANCEBENCH_PATH=data/raw/financebench
