APP_NAME=FinSight
APP_ENV=dev

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=finsight
POSTGRES_USER=finsight
POSTGRES_PASSWORD=change_me

QDRANT_URL=http://localhost:6333

FINANCEBENCH_PATH=C:\DUT\workspace\financebench
